/* Font Injections */

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Nav Styles */

nav {
    display: inline-flex;
    width: 100%;
    height: 3rem;
    justify-content: space-around;
    border: 1px blue solid;
}

nav h1 {
    width: 40%;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    padding-left: 2.5rem;
}

nav ul {
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-right: 3rem;
    
}

nav li {
    padding-left: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

li a {
    text-decoration: none;
    color: black;
}

/* About Me Page Styles */

div.about-me {
    display: inline-flex;
    width: 100%;
    min-height: 12rem;
    flex-direction: row;

    border: 1px green solid;
}

/* Universal Styles */

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: roborto-regular, "Roborto", sans-serif;
}